@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f9fafb;
}

#root {
  width: 100%;
  max-width: none !important; 
}

html {
  overflow-y: scroll;
}
